VITE_STRAPI_API_URL=https://backend_domain
VITE_GRAPHQL_URL=https://backend_domain/graphql

VITE_HEADLINE_AS_TILE=false
VITE_HEADERS_AS_TILE=false
VITE_CATEGORY_BREAK=false
VITE_IMAGE_BORDER=true
VITE_SUPPORT_ENABLED=true
VITE_MEDIA_ENABLED=false
VITE_NEWSLETTER_ENABLED=false