@global-link-color: #3585d7;
@global-secondary-background: #000;
@global-font-family: "Crimson Text", Times, Arial, sans-serif, Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
