@font-face {
    font-family: 'Augustus';
    src: url('fonts/Augustus.woff2') format('woff2'),
        url('fonts/Augustus.woff') format('woff'),
        url('fonts/Augustus.ttf') format('ttf');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

